body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: greenyellow;
    color: sandybrown;
}

.header_div
{
    background:darkmagenta;
    color:navy;
}

.header_div p
{
    font-family: 'Festive', cursive;
    color:crimson;
    letter-spacing:2px;
    font-size: 12px;
    font-weight:bold;
}

.main_div button
{
    font-family: 'IM Fell English SC', serif;
    margin: top 30px;
    width:130px;
    font-weight: 900;
    letter-spacing: 2px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Ephesis', cursive;
    font-size: 20px;
   background-color: deeppink;
   line-height: 3;
    font-weight: bolder;
    color: brown;
    text-align: center;
    text-shadow:10px 10px 10px yellowgreen;
}

